@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dasrc-text-style {
  font-size: 1.5rem;
  font-family: 'KoHo', sans-serif !important;
  font-weight: 400!important;
  color: #1d1d1f;
}